
<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Order {{EditedOrder.ID}}
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="EditOrderForm" angular-validator-submit="updateOrder()">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label" for="Orderdescription">Order Description</label>
                            <input type="text" class="form-control" ng-model="EditedOrder.Orderdescription" name="Orderdescription" id="Orderdescription" placeholder="Order description"
                                   validate-on="blur" required required-message="'Order Description is required'">
                        </div>
                        <div class="col-sm-6 selectContainer">
                            <label class="control-label" for="OrderAmount">Order Amount</label>
                            <input type="text" class="form-control" ng-model="EditedOrder.OrderAmount" name="OrderAmount" id="OrderAmount" placeholder="OrderAmount"
                                   validate-on="blur" required required-message="'Order Amount is required'">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        
                        <div class="col-xs-6">
                            <label class="control-label">Order Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control" name="OrderDate" datepicker-popup="{{format}}" ng-model="EditedOrder.OrderDate" is-open="datepicker.opened" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close"
                                       validate-on="blur" required required-message="'Order Date is required'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                       
                         <div class="col-sm-6"></div>
                        </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-xs-12">
                            <label class="control-label">Employees For this Order</label>



                            <table>
                                <tr>
                                    <td class="col-xs-3"><b>First Name</b></td>
                                    <td class="col-xs-3"><b>Last Name</b></td>
                                    <td class="col-xs-3"><b>Commissioned ID</b></td>
                                </tr>

                                <!--<div ng-repeat="CommissionedEmployee in OrderEmployeesList" class="selected-item">-->
                                    <tr ng-repeat="CommissionedEmployee in OrderEmployeesList" class="selected-item">
                                        <td class="col-xs-3">{{CommissionedEmployee.FirstName}}</td>
                                        <td class="col-xs-3">{{CommissionedEmployee.LastName}}</td>
                                        <td class="col-xs-3 fa-align-center">{{CommissionedEmployee.ID}}</td>
                                    </tr>
                                      
                                <!--</div>-->
                            </table>
                        </div>

                        <div class="col-xs-12">
                            <p style="color:red">
                                {{employeesmessage}}
                            </p>

                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="updateOrder()">Update</button>
        </div>
    </div>
</div>